/* styles.css */

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #5e3232;
  padding: 20px;
}

form {
  background-color: rgb(93, 40, 40);
  padding: 5px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto ;
  box-shadow: 0 0 1px rgba(2, 7, 44, 0.1);
}

input, button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #f32198;
  color: rgb(1, 10, 16);
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #257d7d;
}

h2 {
  text-align: center;
}

#mensaje {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
